<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        table, th, td {
            border: 1px solid black;
        }
        </style>
    </head>
    <body>
        <div style="width: 85%; margin: 0 7.5%;">
            <div style="text-align: center; padding-left: 50px;">            
                <h3><%= form.name %></h5>
                <table>
                    <thead>
                        <tr>
                        <% if (form.fields.length > 0) { %>
                            <% form.fields.forEach(field => {%>
                            <td><%= field.label %></td>
                            <%  });%>
                        <% }%>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <% if (form.fields.length > 0) { %>
                                <% form.fields.forEach(field => {%>
                                <td><%= field.value %></td>
                                <%  });%>
                            <% }%>
                        </tr>
                    </tbody>
                </table>
             </div>
        </div>
    </body>
</html>